name: CI for Escape From Uni

# Triggered on every push to main. We can also manually trigger the pipeline (there's a button for it)
# Need to manually trigger pipeline at the end so we know that everything works OK.
on:
  push:
    branches : [ "main" ]
  pull_request:
    branches : [ "main" ]
  workflow_dispatch:

# GitHub Actions Agent permissions for committing to the repo. 
permissions:
  contents: write
  pages: write

jobs:
  pipeline:
    # Boilerplate for setting up the run environment to make the reports and the JAR file. 
    name: Test + JAR build

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Game
    
    steps:
      - name: Get latest Java code from repo
        uses: actions/checkout@v4
      
      - name : Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
      
      - name: Making gradlew executable
        run: chmod +x gradlew
      
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      # Operations that are responsible for creating the reports and the JAR file. 
      - name: Run automated tests and write reports
        run: ./gradlew clean test jacocoTestReport checkstyleMain checkstyleTest --stacktrace

      - name: Create JUnit report from headless testing # Artifact 1
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: Game/core/build/reports/tests/test/

      - name : Upload the test coverage report # Artifact 2
        uses: actions/upload-artifact@v4
        with:
          name: test-coverage
          path: Game/core/build/reports/jacoco/test/html/
      
      - name: Upload CheckStyle # Artifact 3
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: Game/core/build/reports/checkstyle/

      - name: Create the JAR file
        run: ./gradlew lwjgl3:jar -x test
      
      - name: Upload JAR to GitHub # Artifact 4
        uses: actions/upload-artifact@v4
        with:
          name: Escape_From_Uni
          path: Game/lwjgl3/build/libs/*.jar

      - name: Copy to Website folder # Copy reports to Website/docs so it can be viewed on the website as well. Makes our lives easier.
            # Determines the validity of the links in our testing doc. Additional layer of security in case I can't get a constant link to the resource.
        run: |
          mkdir -p ../Website/docs/reports/jacoco
          mkdir -p ../Website/docs/reports/checkstyle/core
          mkdir -p ../Website/docs/reports/tests
          mkdir -p ../Website/docs/JAR-file

          cp -r ../Game/core/build/reports/jacoco/test/html/* ../Website/docs/reports/jacoco/
          cp -r ../Game/core/build/reports/checkstyle/* ../Website/docs/reports/checkstyle/core/
          cp -r ../Game/core/build/reports/tests/test/* ../Website/docs/reports/tests/
          cp ../Game/lwjgl3/build/libs/*.jar ../Website/docs/JAR-file/Escape_From_Uni.jar

      - name: Push the 3 reports and the JAR file to the repo
      # Commits the three reports and the JAR file to the Website folder
        run: |
          cd ..
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add Website/docs/reports/* Website/docs/JAR-file/* || true
          git commit -m "Update reports and JAR from CI pipeline [skip ci]"
          git push


      - name: Result of all operations in pipeline
      # What gets printed below pipeline in node view after jobs have reached completion. 
        if: always()
        run: |
          echo "NOTE TO DEVS: If you are going to continue working on the code after pushing, run git pull to fetch all of the reports." 
          echo "It won't do it automatically and will require you to rebase if you start the next commit."
          echo "You might have to refresh the page before viewing the artifacts."
          echo "JAR file has been created"
          echo "# Automated Tests Summary" >> $GITHUB_STEP_SUMMARY
          echo "All of the automated tests have been finished. Open index.html after downloading the test-results/ folder" >> $GITHUB_STEP_SUMMARY
          echo "## Test Coverage Report using JaCoCo" >> $GITHUB_STEP_SUMMARY
          echo "The test coverage report can be accessed as an artifact below. Download the test-coverage/ folder and open index.html to view how much of our codebase our tests cover." >> $GITHUB_STEP_SUMMARY
          echo "The ones where there are no coverage are the cases where we felt that it would be more valuable to implement a manual testing schema."
          echo "## Code consistency report" >> $GITHUB_STEP_SUMMARY
          echo "Checkstyle report has been made. To view the report, download checkstyle-report/ folder." >> $GITHUB_STEP_SUMMARY
          echo "To view the styling report for the game code itself, open main.html"
          echo "To view the styling report for our test code, open test.html"
  
  # Deploys website with all of the changes with every commit
  deploy-website:
    needs: pipeline
    runs-on: ubuntu-latest
    steps:
      - name: Get all of the code from GitHub
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure GitHub Pages to deploy our website
        uses: actions/configure-pages@v4
      
      - name: Upload all of the website code to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: "."
      
      - name: Deploy website
        id: deployment
        uses: actions/deploy-pages@v4


