name: CI for Escape to Uni

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  pipeline:
    name: CI pipeline for testing, reporting test coverage, code consistency and creating the JAR file.
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Game

    steps:
      - name: Get the Java code from GitHub and move it into our currently blank directory
        uses: actions/checkout@v4
        
      - name: Make sure Java 17 is used and set up
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          
      - name: Make our code to be executeable
        run: chmod +x gradlew
        
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v2

      - name: Run our automated tests
        run: ./gradlew clean test --no-daemon --stacktrace
        continue-on-error: true

      - name: Upload whether each test was a success or a failure to a HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            Game/**/build/reports/tests/**
            Game/**/build/test-results/**

      - name: Generate reports for the test coverage (how much code has been covered by automated tests) and code consistency (styling etc.)
        run: ./gradlew jacocoTestReport checkstyleMain checkstyleTest --no-daemon

      - name: Upload the test coverage report (JaCoCo)
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-coverage-report
          path: Game/**/build/reports/jacoco/test/html/

      - name: Upload code consistency report (checkstyle)
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: Game/**/build/reports/checkstyle/

      - name: Build the JAR file
        run: ./gradlew lwjgl3:jar --no-daemon -x test
        
      - name: Upload Desktop JAR
        uses: actions/upload-artifact@v4
        with:
          name: Escape_From_Uni
          path: Game/lwjgl3/build/libs/*.jar

      - name: Summary of the entire pipeline showing the results of the tests, coverage report and the consistency report and producing the JAR file.
        if: always()
        run: |
          echo "# Test Summary" >> $GITHUB_STEP_SUMMARY
          echo "All of the automated tests have been finished. You can view which tests passed or failed by opening the test-results folder in the Artifacts section in GitHub (you might have to refresh the page after running the workflow dispatch or when you push/pull). The path to access the the index.html containing the JUnit test report is build/reports/tests/test/index.html" >> $GITHUB_STEP_SUMMARY
          echo "## Cohort 2 Group 7 Test Coverage Report using JaCoCo" >> $GITHUB_STEP_SUMMARY
          echo "The test coverage report created using JaCoCo has been created. Access it as an artifact below (sometimes you might have to refresh the page once the pipeline has been executed). The path to access the index.html file is build/reports/jacoco/test/html/index.html. The report covers the coverage of the automated tests and generally covers the logical aspects. We will have to add manual testing for the predominantly visual components as it's not the easiest to test." >> $GITHUB_STEP_SUMMARY
          echo "## Code consistency report" >> $GITHUB_STEP_SUMMARY
          echo "The code consistency report has been created. This will compare the code to the standards set out in the version that we've imported. We might get some errors from this because we've used different styles for our code." >> $GITHUB_STEP_SUMMARY
          echo "The report has been submitted as an artifact and you should be able to download it below. Refresh the page once the workflow has completed (because it won't be visible from push/pull and when you run a manual dispatch and run the pipeline manually)" >> $GITHUB_STEP_SUMMARY



