name: CI for Escape to Uni

on:
  push:
    branches : [ "main" ]
  pull_request:
    branches : [ "main" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  pipeline:
    name: JUnit testing, JoCoCo Test Coverage, Consistency Check, JAR file creation

    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: Game
    
    steps:
      - name: Get latest Java code from repo
        uses: actions/checkout@v4
      
      - name : Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
      
      - name: Making gradlew executable
        run: chmod +x gradlew
      
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Run our automated tests
        run: ./gradlew clean test --no-daemon --stacktrace

      
      - name: Create JUnit report from headless testing # Artifact 1
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            Game/**/build/reports/tests/**
            Game/**/build/test-results/**
        
      - name: Create the JaCoCo and CheckStyle reports
        run: ./gradlew jacocoTestReport checkstyleMain checkstyleTest --no-daemon

      - name : Upload the test coverage report # Artifact 2
        uses: actions/upload-artifact@v4
        with:
          name: test-coverage
          path: Game/**/build/reports/jacoco/test/html/
      
      - name: Upload CheckStyle # Artifact 3
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: Game/**/build/reports/checkstyle/

      - name: Create the JAR file
        run: ./gradlew lwjgl3:jar --no-daemon -x test
      
      - name: Upload JAR to GitHub # Artifact 4
        uses: actions/upload-artifact@v4
        with:
          name: Escape_From_Uni
          path: Game/lwjgl3/build/libs/*.jar

      - name: Copy to Website folder # The reports need to be on the website so this makes our lives easier because we don't have to manually keep changing the reports and stuff every time. 
        run: |
          mkdir -p ../Website/docs/reports/jacoco
          mkdir -p ../Website/docs/reports/checkstyle/core
          mkdir -p ../Website/docs/reports/tests
          mkdir -p ../Website/docs/JAR-file

          cp -r ../Game/core/build/reports/jacoco/test/html/* ../Website/docs/reports/jacoco/
          cp -r ../Game/core/build/reports/checkstyle/* ../Website/docs/reports/checkstyle/core/
          cp -r ../Game/core/build/reports/tests/test/* ../Website/docs/reports/tests/
          cp ../Game/lwjgl3/build/libs/*.jar ../Website/docs/JAR-file/Escape_From_Uni.jar



      - name: Result of all operations in pipeline
      # What gets printed on the repo. 
        if: always()
        run: |
          echo "You might have to refresh the page before viewing the artifacts."
          echo "JAR file has been created"
          echo "# Test Summary" >> $GITHUB_STEP_SUMMARY
          echo "All of the automated tests have been finished. Path to the report (inside of the test-results folder): build/reports/tests/test/index.html" >> $GITHUB_STEP_SUMMARY
          echo "## Test Coverage Report using JaCoCo" >> $GITHUB_STEP_SUMMARY
          echo "Access it as an artifact below. Path to access report (inside of test-coverage) is build/reports/jacoco/test/html/index.html. Manual testing will be needed for the more audio/visual components" >> $GITHUB_STEP_SUMMARY
          echo "## Code consistency report" >> $GITHUB_STEP_SUMMARY
          echo "Checkstyle report has been made. Path to report (inside of checkstyle-report) is core/build/reports/checkstyle/main.html" >> $GITHUB_STEP_SUMMARY
